@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-raj: Rajdhani, "Courier New", Courier, monospace;
  --font-pop: Poppins, "Courier New", Courier, monospace;
}

body {
  font-family: var(--font-pop);
  font-size: 15px;
  background-color: #edeff2;
}

.font-raj {
  font-family: var(--font-raj);
}
